/* ============
Hero Section 
============ */
.hero {
  display: flex;
  background-color: var(--background-color);
  color: var(--light-font-color);
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 30px;
  padding: 33px 106px 0 106px;
  margin-bottom: 130px;
}
.hero-info {
  width: 65%;
  margin-bottom: 112px;
}
.hero-info h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: -0.6px;
  line-height: 1.2;
}
.hero-info p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
  width: 80%;
}
.fa-angle-right {
  display: inline-block;
  color: var(--font-color);
  height: 24px;
  width: 24px;
}
.hero-btn {
  cursor: pointer;
  border: none;
  background-color: var(--button-color);
  color: #fff;
  font-size: 20px;
  padding: 16px 25px;
  border-radius: 5px;
  transition: all 0.2s linear;
}
.hero-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--font-color);
}

.hero-btn.btn-animation:hover {
  background-color: #f59f00;
  position: relative;
  top: -1px;
  left: -1px;
}
.hero-btn.btn-animation:active {
  background-color: #ffec99;
  color: var(--font-color);
  border: none;
  top: 0;
  left: 0;
}

.arrow-icon {
  display: inline-block;
  height: 18px;
  width: 18px;
}
.hero img {
  width: 100%;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
}
.hero:hover img {
  position: relative;
  transform: scale(1.05);
}
/* =========================
   Upcoming Matches Section 
   ========================= */
.matches {
  display: flex;
  gap: 24px;
  margin-bottom: 130px;
}
/* Aside */
.match-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 312px;
  border-radius: 10px;
  background-color: var(--background-color);
  align-self: flex-start;
  padding: 30px;
  text-align: center;
  font-weight: 500;
}
.match-links-btn {
  padding: 17px 39px;
  background-color: var(--light-background-color);
  color: var(--font-color);
}
.match-links-btn.current-page {
  background-color: var(--button-color);
  color: var(--font-color);
}
/* Upcoming Events */
.upcoming-matches {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.match {
  box-shadow: 1px 1px 4px #999;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.match img {
  width: 312px;
  height: 175px;
}
.match-info {
  padding: 20px;
}
.transfer-info {
  display: flex;
  gap: 30px;
  align-items: center;
}
.transfer-info .fa-regular {
  margin-right: 10px;
}
.fa-regular {
  height: 18px;
  width: 18px;
}
.match-info a {
  text-decoration: none;
  color: var(--font-color);
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  padding: 4px 16px;
  border: 1px solid var(--font-color);
  margin-bottom: 15px;
}
.match-info p {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
}
.view-all-btn {
  border: none;
  display: inline-block;
  padding: 12px 29px;
  background-color: var(--button-color);
  color: var(--font-color);
}
.view-all {
  display: none;
  grid-column: 1/-1;
  justify-self: center;
}
/* ==============
   Footer Section 
   ============== */
.footer {
  background-color: var(--dark-background-color);
  color: #a6ffab;
}
.footer .container {
  padding: 130px 0;
}
.footer h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.footer hr {
  margin: 50px auto;
  width: 1270px;
  height: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-links {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.footer-link {
  text-decoration: none;
  color: #74bd78;
}
.social-icon {
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
}
.fa-brands {
  height: 30px;
  width: 30px;
  color: #4267b2;
}
