/* Tablet Version */
@media screen and (min-width: 535px) and (max-width: 896px) {
  .container {
    max-width: 46rem;
  }
  .hero {
    padding: 61px 76px 0 76px;
    margin-bottom: 70px;
  }
  .hero img {
    width: 100%;
  }
  .hero-info {
    margin-bottom: 61px;
    width: 50%;
  }
  .hero-info h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .hero-info p {
    font-size: 13px;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  /* upcoming matches */
  .matches {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .match-links {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: var(--light-background-color);
    color: var(--font-color);
  }
  .match-links-btn {
    border: 1px solid rgba(232, 232, 232);
    font-size: 20px;
  }
  .upcoming-matches {
    grid-template-columns: repeat(2, 1fr);
  }
  .event-img {
    gap: 16px;
  }
  .match h2 {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .match p {
    font-size: 14px;
    color: rgba(77, 77, 77);
  }
  .view-all {
    display: block;
    margin-top: 50px;
  }
  /* footer section */
  .footer .container {
    padding: 70px 0;
  }
  .footer hr {
    margin: 30px auto;
    width: 734px;
  }
  .footer-links {
    flex-wrap: wrap;
  }
}
/* Mobile Version */
@media screen and (max-width: 534px) {
  .container {
    max-width: 21rem;
  }
  .hero {
    flex-direction: column;
    margin-bottom: 70px;
    padding: 10px;
  }
  .hero-info {
    margin: 21 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-info h1 {
    font-size: 22px;
    margin-bottom: 8px;
  }
  .hero-info p {
    font-size: 13px;
    margin-bottom: 30px;
    line-height: 1.6;
    width: 80%;
  }
  .hero-btn {
    font-size: 12px;
  }
  .hero img {
    width: 100%;
  }
  /* upcoming matches */
  .matches {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .match-links {
    background-color: var(--light-background-color);
    color: var(--font-color);
    flex-direction: column;
  }
  .match-links-btn {
    border: 1px solid rgba(232, 232, 232);
  }
  .upcoming-matches {
    grid-template-columns: repeat(1, 1fr);
  }
  .match h2 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .match p {
    font-size: 12px;
    color: rgba(77, 77, 77);
  }
  .event-img {
    gap: 10px;
  }
  /* footer */
  .footer .container {
    padding: 24px 0;
  }
  .footer hr {
    margin: 24px auto;
    width: 335px;
  }
  .footer-links {
    flex-direction: column;
    align-items: center;
  }
  .social-icon {
    display: block;
  }
}
